.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: baseline;
}

.containerVertical {
  flex-direction: column;
}

.checkButton {
  label {
    opacity: 0.65;

    &:hover {
      opacity: 1;
    }
  }

  input:checked + label {
    --color-border: var(--color-font);
    opacity: 1;
  }

  // input:focus + label {
  //   background-color: var(--color-surface);
  // }

  // input:disabled + label {
  //   cursor: not-allowed !important;
  //   opacity: 0.4;
  // }
}
