@use 'styles/theme' as *;

.container {
  position: relative;
  display: inline;
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 0.5rem;
  color: var(--color-font);
  min-width: 20px;
  padding: 0px 6px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: 0 0 0 2px var(--color-body);
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}

.variant--dot {
  width: 10px;
  height: 10px;
  padding: 0;
  min-width: auto;
  top: 3px;
  right: 3px;
}

// The badge content is a React Component rather than a string or number
.componentAsBadge {
  padding: 0;
}
