@use 'styles/theme' as *;

.button {
  display: inline-flex;
  gap: 0.5em;
  vertical-align: middle;
  align-items: center;
  padding: 0 0.95rem;
  cursor: pointer;
  background: transparent;

  &[data-loading='true'] {
    position: relative;
    overflow: hidden;
    background: var(--color-surface);
    cursor: wait;

    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      animation: wave 1.6s linear 0.5s infinite;
      transform: translateX(-100%);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.15),
        transparent
      );
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}

.small {
  font-size: 80%;
}

.large {
  font-size: 120%;
}

.text,
.contained,
.outlined,
.link {
  &:hover {
    background: var(--color-surface);
  }
}

.text {
  &:hover:not(:focus) {
    box-shadow: none;
  }
}

.icon {
  padding: 8px;
  box-shadow: none !important;
  border-radius: 50%;
}

.contained {
  &[class~='color-default'] {
    background: var(--color-surface);
    &:hover {
      background: var(--color-surface-hover);
    }
  }

  &[class~='color-primary'] {
    background: var(--color-primary);
    color: white;
    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &[class~='color-secondary'] {
    background: var(--color-secondary);
    color: white;
    &:hover {
      background: var(--color-secondary-hover);
    }
  }

  &[class~='color-red'] {
    background: $red;
    color: white;
  }

  &[class~='color-green'] {
    background: $green;
    color: white;
  }
}

.outlined {
  line-height: calc(var(--line-height) - 2px);
  border: 1px solid var(--color-comment);
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
