@use 'styles/theme' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5em;
  }

  [role='note'] {
    margin: 0.5em 0 0;
    font-size: smaller;
  }
}

.error {
  input {
    box-shadow: $red 0 0 0 3px !important;
  }

  [role='note'] {
    color: $red;
  }
}

.submitRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}
