@use '../../styles/breakpoint' as *;
@use '../../styles/theme' as *;
@use 'sass:color' as color;

.workItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.workItem {
    width: 100%;

    @include breakpoint(screen) {
        width: 48%;
        margin-bottom: 1em;
    }

    a {
        display: block;
        padding: 5vw;
        text-decoration: none;
        background-color: $color-surface-light;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: color.scale($color-surface-light, $lightness: 30%);
        }
        @include theme(dark) {
            background-color: $color-surface-dark;
            &:hover {
                background-color: color.scale($color-surface-dark, $lightness: -10%);
            }
        }

    }

    h3 {
        margin-top: 0;
        text-decoration: underline;
        transition: color 0.3s ease;
        color: unset;

        ~ * {
            margin-bottom: 0;
            text-decoration: none;
            color: black;
        
            @include theme(dark) {
                color: white;
            }
        }
    }
}

ul.tags {
    padding: 0;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0;
        opacity: 0.6;
        &::before {
            content: "#";
        }
    }
}
