// Variables and mixins releavant to color theme

@use 'sass:color';

$blue: hsl(210, 100%, 65%);
$lightblue: hsl(210, 100%, 70%);
$darkblue: #0073e6;
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$pink: #ffcfd8;
$darkpink: color.scale($pink, $lightness: -10%);
$darkerpink: color.scale($pink, $lightness: -20%);
$darkestpink: color.scale($pink, $lightness: -30%);

// Thematic colors

$color-font-light: black;
$color-body-light: hsl(0, 0%, 98%);
$color-surface-light: hsl(0, 0%, 85%);
$color-surface-hover-light: color.scale($color-surface-light, $lightness: 30%);
$color-comment-light: hsl(0, 0%, 70%);
$color-primary-light: $darkblue;
$color-primary-hover-light: $blue;

$color-font-dark: white;
$color-body-dark: rgb(24, 26, 27);
$color-surface-dark: rgb(36, 37, 38);
$color-surface-hover-dark: color.scale($color-surface-dark, $lightness: 2%);
$color-comment-dark: rgb(58, 59, 60);
$color-primary-dark: $blue;
$color-primary-hover-dark: $lightblue;

$color-secondary: $purple;
$color-secondary-hover: color.scale($color-secondary, $lightness: 30%);


// Media query based on client preference

@mixin theme($theme) {
    @if $theme == dark {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    } @else {
        @media (prefers-color-scheme: light) {
            @content;
        }
    }
}