@use 'sass:math';
@use 'styles/breakpoint' as *;

.header,
.section,
.main,
.footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.header {
  width: 100%;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);

  & > [class~='heading'] {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    @include breakpoint(mobile) {
      font-size: 80%;
    }

    button {
      // Extends h1 styles; CHanges to global should be reflected here
      font-size: 2.5em;
      font-weight: 700;
      letter-spacing: -0.02em;

      &:hover {
        background-color: transparent;
        transform: scale(1.1);
      }
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 1em;

      @include breakpoint(mobile) {
        flex-direction: column;
      }

      li {
        margin: 0;
        padding: 0;

        &.current {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  line-height: 1.6;
}

.footer {
  position: relative;
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: var(--spacing);
  line-height: 1.6;
  font-size: 90%;

  @include breakpoint(screen) {
    margin-top: var(--spacing);
  }

  nav ul {
    margin: 0;
    padding: 1em 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-comment);

    @include breakpoint(screen) {
      padding: 0;
      border: none;
      flex-direction: row;
    }

    li {
      margin: 0 1em 0 0;
      padding: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  // a.sourcecode {
  //   text-decoration: none;

  //   span {
  //     display: none;
  //     @include breakpoint(screen) {
  //       display: unset;
  //     }
  //   }
  // }
}

.scrollToTop {
  position: absolute;
  bottom: 0;
  right: var(--spacing);
  transition: transform 0.2s ease-in-out;

  @include breakpoint(screen) {
    bottom: unset;
    top: 0;
    margin-top: -0.5em;
  }

  &:hover {
    transform: translateY(-10px);
    background-color: transparent !important;
  }

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}
