@use 'styles/extensions' as *;
@use 'styles/breakpoint' as *;

.timeline {
  position: relative;
  // @var --color Line and bullet color; Set by <Timeline> component

  &::before {
    background-color: var(--color);
    content: '';
    position: absolute;
    top: 0;
    width: 0.1rem;
    height: 100%;

    @include breakpoint(screen) {
      left: 7em;
    }
  }

  dl {
    display: grid;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    grid-auto-flow: row;
    justify-items: start;
    align-items: start;
    padding-left: 1em;

    @include breakpoint(screen) {
      padding: 0;
      grid-template-columns: 5em auto;
    }

    dt {
      @extend %surface;
      margin: 0;
      padding: 0.5em;
      font-weight: normal;

      // Point
      &::before {
        content: '';
        transform: translate(calc(-0.25em + -0.5em + -1em + 0.05rem), 0.5em);
        background-color: var(--color);
        outline: 10px solid var(--color-body);
        display: block;
        position: absolute;
        width: 0.5em;
        height: 0.5em;
        border-radius: 0.5em;

        @include breakpoint(screen) {
          transform: translate(6.3em, -0.3em);
        }
      }
    }

    dd {
      margin: 0;
      padding: 0;

      & > *:first-child {
        margin-top: 0;
      }

      @include breakpoint(screen) {
        padding: 0 0 0 2em;
      }
    }
  }
}
// .timeline__wrapper {
//   width: 100%;
//   max-width: 800px;
//   padding: 15px 0 0  0;
//   position: relative;
//   margin: 50px auto;
// }
// .timeline {
//   width: calc(100% - 24px);
//   padding: 12px;
// }
// .timeline:before {
//   content: "";
//   position: absolute;
//   top: 0px;
//   left: calc(33% + 6px);
//   bottom: 0px;
//   width: 0px;
//   border: 2px solid;
// }
// .timeline:after {
//   content: "";
//   display: table;
//   clear: both;
// }
// @media only screen and (max-width: 768px) {
//   /* For mobile phones: */
//   .timeline:before {
//     left: calc(1% + 6px);
//   }
// }

// .timeline__item__body__container {
//   position: relative;
//   margin-left: 30px;
// }
// .timeline__item--no-children .timeline__item__body__container {
//   background: transparent;
//   box-shadow: none;
// }
// .timeline__item__body__container:after {
//   content: "";
//   display: table;
//   clear: both;
// }
// .timeline__item__date {
//   position: absolute;
//   top: -12px;
//   left: 0;
//   padding: 1px;
//   height: 52px;
//   box-sizing: border-box;
//   width: 90%;
// }
// .timeline__item__date__inner {
//   padding: 0;
//   font-weight: bold;
//   margin: 0;
//   border-right-color: transparent;
//   height: 50px;
//   width: 100%;
//   display: block;
//   line-height: 52px;
//   text-indent: 15px;
// }

// .timeline__item--no-children .timeline__item__body__container::before {
//   display: none;
// }
// .timeline__item {
//   clear: both;
//   text-align: left;
//   position: relative;
// }
// .timeline__item__title {
//   margin-bottom: 0.5em;
//   float: left;
//   width: 34%;
//   position: relative;
//   height: 32px;
// }
// .timeline__item__title:before {
//   content: "";
//   position: absolute;
//   width: 8px;
//   height: 8px;
//   border: 4px solid;
//   background-color: #ffffff;
//   border-radius: 100%;
//   top: 15%;
//   right: -8px;
//   z-index: 99;
//   box-sizing: content-box;
// }
// .timeline__item .timeline__item__body {
//   margin: 0 0 3em;
//   float: right;
//   width: 66%;
//     h1, h2, h3, h4, h5, h6 {
//         margin: 0;
//     }
// }

// @media only screen and (max-width: 768px) {
//   /* For mobile phones: */
//   .timeline__item__title {
//     float: left;
//     width: 70%;
//   }
//   .timeline__item__date {
//     margin-left: 30px;
//   }
//   .timeline__item__title:before {
//     top: 15%;
//     left: 3px;
//     right: auto;
//     z-index: 99;
//   }
//   .timeline__item__body {
//     margin: 20px 0 3em;
//     float: right;
//     width: 99%;
//   }
// }
