// Variables and mixins releavant to color theme

@use 'sass:color';

$blue: hsl(210, 100%, 60%);
$lightblue: hsl(210, 100%, 70%);
$darkblue: hsl(210, 100%, 45%);
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$pink: #ffcfd8;
$darkpink: color.scale($pink, $lightness: -10%);
$darkerpink: color.scale($pink, $lightness: -20%);
$darkestpink: color.scale($pink, $lightness: -30%);
$color-body-light: hsl(0, 0%, 98%);
$color-surface-light: hsl(0, 0%, 85%);
$color-comment-light: hsl(0, 0%, 70%);
$color-body-dark: rgb(24, 26, 27);
$color-surface-dark: rgb(36, 37, 38);
$color-comment-dark: rgb(58, 59, 60);

// Thematic colors

$colors: (
    "light": (
        "primary": $darkblue,
        "primary-hover": $blue,
    ),
    "dark": (
        "primary": $blue,
        "primary-hover": $lightblue,
    )
);

@function get-color($prop, $theme) {
  @return map.get($colors, $theme, $prop);
}

// Media query based on client preference

@mixin theme($theme) {
    @if $theme == dark {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    } @else {
        @media (prefers-color-scheme: light) {
            @content;
        }
    }
}