@use 'breakpoint' as *;

.root {
    counter-reset: article;
    line-height: 1.6;
}
.root > *:not(.fullwidth) {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
@include breakpoint(mobile) {
    .root > *:not(.fullwidth) {
        width: 60%;
    }
}
@media (min-width: 330px) {
    .root > .pop,
    .root > pre,
    .root > blockquote {
        width: 100%;
    }
}
@include breakpoint(mobile) {
    .root > .pop,
    .root > pre,
    .root > blockquote {
        width: 90%;
    }
}
@include breakpoint(screen) {
    .root > .pop,
    .root > pre,
    .root > blockquote {
        width: 60%;
    }
}
.root > img {
    width: initial !important;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}
.root > figure figcaption::before {
    counter-increment: article;
    content: "Figure " counter(article, decimal-leading-zero) ". ";
    font-weight: bold;
}
.root > blockquote {
    padding: 0 0 0 5%;
    position: relative;
}
.root > blockquote:before {
    display: block;
    position: absolute;
    left: -0.065em;
    top: -0.2em;
    content: "\201C";
    font-size: 5em;
    font-family: Georgia;
    color: #7a7a7a;
    line-height: 1;
}
.root > blockquote p {
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
    letter-spacing: -0.015em;
}
.root > blockquote footer {
    color: #777;
    font-size: 1.2em;
    margin-top: -0.5em;
}
.root > blockquote footer:before {
    content: "\2014 \00A0";
}
.root pre {
    padding: 1em 5%;
    overflow: auto;
    background: #f7fafb;
    counter-reset: linenumbers;
    line-height: 1;
}

.root section + section {
    margin-top: 2em;
}