@use 'breakpoint' as *;
@use 'theme' as *;
@use 'extensions' as *;

%p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.root {
    counter-reset: article;

    p {
        @extend %p;
    }

    > img {
        width: initial;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
    }

    > figure figcaption::before {
        counter-increment: article;
        content: "Figure " counter(article, decimal-leading-zero) ". ";
        font-weight: bold;
    }

    > blockquote {
        padding: 0 0 0 5%;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            left: -0.065em;
            top: -0.2em;
            content: "\201C";
            font-size: 5em;
            font-family: Georgia;
            color: #7a7a7a;
            line-height: 1;
        }
        p {
            font-size: 1.4em;
            font-style: italic;
            font-family: serif;
            letter-spacing: -0.015em;
        }
        footer {
            color: #777;
            font-size: 1.2em;
            margin-top: -0.5em;
        }
        footer:before {
            content: "\2014 \00A0";
        }
    }

    pre {
        padding: 1em 5%;
        overflow: auto;
        background: $color-surface-light;
        counter-reset: linenumbers;
        line-height: 1;
        @include theme(dark) {
            background: $color-surface-dark;
        }
    }

    section + section {
        margin-top: 2em;
    }
}

.description,
.preface {
    @extend %p;
}

.preface {
    @extend %surface;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li + li {
            margin-top: .75em;
        }

        @include breakpoint(screen) {
            display: flex;

            li + li {
                margin: 0 0 0 .75em;
                padding: 0 0 0 .75em;
                border-left: 2px solid rgba(0, 0, 0, 0.15);
            }
        }
    }
}
