@use 'sass:color';
@use 'breakpoint' as *;

$blue: hsl(210, 100%, 60%);
$lightblue: hsl(210, 100%, 70%);
$darkblue: hsl(210, 100%, 45%);
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$color-body-light: hsl(0, 0%, 98%);
$color-surface-light: hsl(0, 0%, 85%);
$color-comment-light: hsl(0, 0%, 70%);
$color-body-dark: rgb(24, 26, 27);
$color-surface-dark: rgb(36, 37, 38);
$color-comment-dark: rgb(58, 59, 60);

// Color theme

@mixin theme($theme) {
    @if $theme == dark {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    } @else {
        @media (prefers-color-scheme: light) {
            @content;
        }
    }
}

// Spacing settings and methods

$spacing-mobile: 1rem;
$spacing-monitor: 3.5rem;

@mixin spacing($prop) {
    #{$prop}: $spacing-mobile;
    @include breakpoint(screen) {
        #{$prop}: $spacing-monitor;
    }
}

// Top Level

:root {
    font: normal 100% sans-serif;
    font-size: calc(100vw / 30);
    @include breakpoint(screen) {
        font-size: calc(100vw / 50);
    }
    @include breakpoint(omnivision) {
        // Computed size at 'omnivision'
        font-size: 25.58px;
    }
    @include theme(dark) {
        color: white;
    }
}

body {
    @include theme(light) {
        background-color: $color-body-light;
    }
    @include theme(dark) {
        background-color: $color-body-dark;
    }
}

// Global

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.05em;
    @include theme(light) {
        color: #282828;
    }
    @include theme(dark) {
        color: #d6d6d6;
    }
    a {
        @include theme(light) {
            color: black;
        }
        @include theme(dark) {
            color: white;
        }
    }
}

h1 {
    a {
        text-decoration: none;
    }
}

a,
.a {
    color: $darkblue;
    text-decoration: underline;
    cursor: pointer;
    &:active {
        color: $purple;
    }
    &:hover {
        color: $blue;
        border-color: $blue;
    }
    @include theme(dark) {
        color: $blue;
        &:hover {
            color: $lightblue;
            border-color: $lightblue;
        }
    }
}

img {
    max-width: 100%;
    @include theme(dark) {
        // Recolorize photographic images in dark mode
        // @see https://web.dev/prefers-color-scheme/#re-colorize-and-darken-photographic-images
        &:not([src*=".svg"]) {
            filter: grayscale(25%);
        }
    }
}

ul,
ol {
    padding-left: 1.5em;
}
ul ul,
ul ol,
ol ul,
ol ol {
    padding-left: 3em;
}

figure > img,
figure .figure {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

figure figcaption {
    margin: 1em auto;
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
}

@media (min-width: 330px) {
    figure.flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    figure.flex > .figure,
    figure.flex pre {
        flex: initial;
        margin-left: auto;
    }
    figure.flex > figcaption {
        flex: 1;
        text-align: right;
        padding-right: 1em;
    }
}

code,
tt {
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    background-color: #ffcfd8;
}

pre code,
tt {
    font-size: 0.85em;
    white-space: pre;
    line-height: 1.2;
    background: transparent;
    border: none;
    padding: 0.1em;
}

pre code:before,
tt:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    left: -3ex;
    position: absolute;
    text-align: right;
    width: 2.5ex;
}

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: #666;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    &:hover {
        background-color: $color-surface-light;
    }
    &:focus {
        outline: none;
    }
    @include theme(dark) {
        &:hover {
            background-color: $color-surface-dark;
        }
    }

    &[variant="icon"] {
        padding: 0;
        &:hover {
            background-color: transparent;
        }
    }
}

// Outline

#__next {
    > header,
    > section,
    > main,
    > footer {
        box-sizing: border-box;
        max-width: 1280px;
        margin: 0 auto;
        @include spacing(padding-right);
        @include spacing(padding-left);
    }

    > header {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        > picture {
            order: 1;
        }
        > h1 {
            order: 2;
            margin: 0;
            padding: 0;
            line-height: normal;
        }
        > nav {
            order: 3;
            position: relative;
            > ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                > li {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }
            }
        }
    }

    > footer {
        position: relative;
        @include spacing(margin-top);
        @include spacing(margin-bottom);

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            li {
                margin: 0 1em 0 0;
                padding: 0;
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

#scroll-top {
    position: absolute;
    top: -.25em;
    right: $spacing-mobile;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        transform: translateY(-10px);
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }

    @include breakpoint(screen) {
        right: unset;
        left: 0;
    }
    @include theme(dark) {
        svg {
            color: white;
        }
    }
}
